{% extends "layouts/base.html" %}

{% block body %}

    <style>
        .center {
            width: 1200px;
            height: 700px;
            padding: 10px;
            margin: 60px auto;
        }
        html {
            height:250%
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=3">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html>
    <body style="background-color:#96eede;">
    <div class="centerb">
        <center>

            <div class="centerb">
<br>
<br>

    <marquee behavior="alternate" direction="left" scrollamount = "12">
        <h1 style="font-family: 'Comic Sans MS'"> May 18th 2022</h1>
    </marquee>
<br>
<br>
<br>
                <h1 class="w3-text-blue" style="text-shadow:1px 1px 0 #444">
                    <b>AP US History Calendar</b></h1>
            </div>
<br>

            <table id="calendar" style="padding-bottom: 20px; margin-left:20px;margin-right:20px;">
                {% block links %}
                <tr>
                    <td class="days" id="calendar1" style="border: 2px solid black; height: 200px; width: 200px"><div>1</div></td>
                    <td class="days" id="calendar2" style="border: 2px solid black; height: 200px; width: 200px"><div>2</div></td>
                    <td class="days" id="calendar3" style="border: 2px solid black; height: 200px; width: 200px"><div>3</div></td>
                    <td class="days" id="calendar4" style="border: 2px solid black; height: 200px; width: 200px"><div>4</div></td>
                    <td class="days" id="calendar5" style="border: 2px solid black; height: 200px; width: 200px"><div>5</div></td>
                    <td class="days" id="calendar6" style="border: 2px solid black; height: 200px; width: 200px"><div>6</div></td>
                    <td class="days" id="calendar7" style="border: 2px solid black; height: 200px; width: 200px"><div>7</div></td>

                </tr>
                <tr>
                    <td class="days" id="calendar8" style="border: 2px solid black; height: 200px; width: 200px"><div>8</div></td>
                    <td class="days" id="calendar9" style="border: 2px solid black; height: 200px; width: 200px"><div>9</div></td>
                    <td class="days" id="calendar10" style="border: 2px solid black; height: 200px; width: 200px"><div>10</div></td>
                    <td class="days" id="calendar11" style="border: 2px solid black; height: 200px; width: 200px"><div>11</div></td>
                    <td class="days" id="calendar12" style="border: 2px solid black; height: 200px; width: 200px"><div>12</div></td>
                    <td class="days" id="calendar13" style="border: 2px solid black; height: 200px; width: 200px"><div>13</div></td>
                    <td class="days" id="calendar14" style="border: 2px solid black; height: 200px; width: 200px"><div>14</div></td>
                </tr>
                <tr>
                    <td class="days" id="calendar15" style="border: 2px solid black; height: 200px; width: 200px"><div>15</div></td>
                    <td class="days" id="calendar16" style="border: 2px solid black; height: 200px; width: 200px"><div>16</div></td>
                    <td class="days" id="calendar17" style="border: 2px solid black; height: 200px; width: 200px"><div>17</div></td>
                    <td class="days" id="calendar18" style="border: 2px solid black; height: 200px; width: 200px"><div>18</div></td>
                    <td class="days" id="calendar19" style="border: 2px solid black; height: 200px; width: 200px"><div>19</div></td>
                    <td class="days" id="calendar20" style="border: 2px solid black; height: 200px; width: 200px"><div>20</div></td>
                    <td class="days" id="calendar21" style="border: 2px solid black; height: 200px; width: 200px"><div>21</div></td>
                </tr>
                <tr>
                    <td class="days" id="calendar22" style="border: 2px solid black; height: 200px; width: 200px"><div>22</div></td>
                    <td class="days" id="calendar23" style="border: 2px solid black; height: 200px; width: 200px"><div>23</div></td>
                    <td class="days" id="calendar24" style="border: 2px solid black; height: 200px; width: 200px"><div>24</div></td>
                    <td class="days" id="calendar25" style="border: 2px solid black; height: 200px; width: 200px"><div>25</div></td>
                    <td class="days" id="calendar26" style="border: 2px solid black; height: 200px; width: 200px"><div>26</div></td>
                    <td class="days" id="calendar27" style="border: 2px solid black; height: 200px; width: 200px"><div>27</div></td>
                    <td class="days" id="calendar28" style="border: 2px solid black; height: 200px; width: 200px"><div>28</div></td>
                </tr>
                <tr>
                    <td class="days" id="calendar29" style="border: 2px solid black; height: 200px; width: 200px"><div>29</div></td>
                    <td class="days" id="calendar30" style="border: 2px solid black; height: 200px; width: 200px"><div>30</div></td>
                    <td class="days" id="calendar31" style="border: 2px solid black; height: 200px; width: 200px"><div>31</div></td>
                </tr>

                        </table>

                        </center>

                        </div>

                        </body>

                    {% endblock %}
</html>

    <div class="align-center pt-5" style="padding-left: 10px">
        <input type="text" id="numero" placeholder="Which day would you like to add information?" size="50">
    </div>
    <div class="align-center pt-5" style="padding-left: 10px">
        <input type="text" id="info" placeholder="What would you like to say?" size="50">
    </div>
    <div class="align-center" style="padding-left: 10px">
        <button id="submit_text" onclick="inputdays();">Submit</button>
    </div>
    <div class="row align-center p-3">
        <div class="container text-white" id="output"> </div>
    </div>


    <div class="align-center pt-5" style="padding-left: 10px":>
        <input type="text" id="delete" placeholder="What day would you like to delete infromation?" size="50">
    </div>
    <div class="align-center" style="padding-left: 10px">
        <button id="submit_text" onclick="deleteinfo();">Submit</button>
    </div>
    <div class="row align-center p-3">
        <div class="container text-white" id="output2"> </div>
    </div>


    <script>
        function inputdays() {
            let input=document.getElementById('info').value;
            let inpot=document.getElementById('numero').value;

            if (document.getElementById('numero').value.toLowerCase() == document.getElementById('numero').value.toLowerCase()) {
                document.getElementById('calendar' + inpot).insertAdjacentText('beforeend', input);
            } else {
                document.getElementById('calendar').insertAdjacentText('beforeend', 'ERROR ERROR');
            }
            }

        function deleteinfo() {
            let deli=document.getElementById('delete').value;

            if (document.getElementById('delete').value == document.getElementById('delete').value) {
                document.getElementById('data' + deli).remove();
            } else {
                displayDate();
            }
            }
    </script>
{% endblock %}

{% block background %}

{% endblock %}