{% extends "layouts/base.html" %}

{% block body %}

    <style>
        .centerb {
            width: 1200px;
            height: 700px;
            padding: 10px;
            margin: 60px auto;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=3">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <body style="background-color:#96eede;">
    <div class="centerb">
        <center>

            <div class="center">
                <h1 class="w3-text-blue" style="text-shadow:1px 1px 0 #444">
                    <b>AP US History Calendar</b></h1>
            </div>

            <table style="padding-bottom: 20px">
                {% block links %}
                <tr>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>1</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>2</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>3</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>4</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>5</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>6</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>7</div></td>
                </tr>
                <tr>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>8</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>9</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>10</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>11</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>12</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>13</div></td>
                    <td style="border: 2px solid #181818; line-height: 150px"><div>14</div></td>
                </tr>

                        </table>

                        </center>

                        </div>

                        </body>

                    {% endblock %}

{% endblock %}

{% block background %}

{% endblock %}