{% extends "layouts/base.html" %}

{% block body %}

    <style>
        .centerb {
            width: 1200px;
            height: 700px;
            padding: 10px;
            margin: 60px auto;
        }

    </style>

    <meta name="viewport" content="width=device-width, initial-scale=3">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <body style="background-color:#96eede;">
    <div class="centerb">
        <center>

            <marquee behavior="alternate" direction="left" scrollamount = "3">
             <h1>May 2022</h1>
            </marquee>


            <div class="center">
                <h1 class="w3-text-blue" style="text-shadow:1px 1px 0 #444">
                    <b>Calendar</b></h1>
            </div>

            <p class="w3-monospace">Hello. My name is Lucas Ho and I am a junior at Del Norte High School. Some things I like to do are run, play video games, eat, and hang out with friends.
                My favorite class is math. I find computer science fun and I also am looking forward to this trimester of computer science. I also learned a lot from first trimester.</p>

            <table style="padding-bottom: 20px">
                <tr>
                    {% block links %}
                        <td style="border: 2px solid cyan"><div><a href="{{ overview }}" class="btn" style="font-size: larger">Journal</a></div></td>
                        <td style="border: 2px solid cyan"><div><a href="{{ repo }}" class="btn" style="font-size: larger">GitHub</a></div></td>
                        <td style="border: 2px solid cyan"><div><a href="{{ scrumboard }}" class="btn" style="font-size: larger">Scrumboard</a></div></td>
                        </tr>
                        </table>

                        </center>

                        </div>

                        </body>

                    {% endblock %}

{% endblock %}

{% block background %}

{% endblock %}