{% extends "layouts/base.html" %}

{% block title %}

    <title>Important Events and People</title>

{% endblock %}

{% block body %}
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }
        h1 {text-align: center}
        td {text-align: center}
    </style>
    <body style="background-color:#ee850c;">
    <h1 class="center">Important People and Events</h1>
    <table style="padding-bottom: 20px" class="center">
        <tr>
            <td style="border: 2px solid cyan" width=300 text-align="center">Date (If applicable)</td>
            <td style="border: 2px solid cyan" width=300 class="center">Event/Person</td>
        </tr>
        <tr>
            <td style="border: 2px solid cyan" width=300 class="center">1775 - 1783</td>
            <td style="border: 2px solid cyan" width=300 class="center">Revolutionary War</td>
        </tr>
        <tr>
            <td style="border: 2px solid cyan" width=300 class="center">Apr 12, 1861 – Apr 9, 1865</td>
            <td style="border: 2px solid cyan" width=300 class="center">Civil War</td>
        </tr>
    </table>

{% endblock %}
