{% extends "layouts/base.html" %}

{% block title %}

    <title>Important Events and People</title>

{% endblock %}

{% block body %}
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }
        h1 {text-align: center}
        td {text-align: center}
    </style>
    <body style="background-color:#96eede;">
    <h1 class="center">Important People and Events</h1>
    <table style="padding-bottom: 20px" id="eventTable" class="center">
        {% block links %}
        <tr>
            <td style="border: 1px solid black" width=300 class="center">Date (If applicable)</td>
            <td style="border: 1px solid black" width=300 class="center">Event/person</td>
            <td style="border: 1px solid black" width=300 class="center">Description</td>
        </tr>
        {% for item in table %}
        <tr>
            <td style="border: 1px solid black" width=300 class="center">{{item.date}}</td>
            <td style="border: 1px solid black" width=300 class="center">{{item.name}}</td>
            <td style="border: 1px solid black" width=300 class="center">{{item.description}}</td>
        </tr>
        {% endfor %}
        {% endblock %}
    </table>
    <a href="/events/edit/" class="btn btn-primary">Edit Events</a>
    </body>

{% endblock %}
