{% extends "layouts/base.html" %}

{% block title %}

    <title>Important Events and People</title>

{% endblock %}

{% block body %}
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }
        h1 {text-align: center}
        td {text-align: center}
    </style>
    <body style="background-color:#ee850c;">
    <h1 class="center">Important People and Events</h1>
    <table style="padding-bottom: 20px" id="eventTable" class="center">
        {% block links %}
        <tr>
            <td style="border: 2px solid cyan" width=300 class="center">Date (If applicable)</td>
            <td style="border: 2px solid cyan" width=300 class="center">Event/person</td>
        </tr>
        <tr>
            <td style="border: 2px solid cyan" width=300 class="center">1775 - 1783</td>
            <td style="border: 2px solid cyan" width=300 class="center">Revolutionary War</td>
        </tr>
        <tr>
            <td style="border: 2px solid cyan" width=300 class="center">Apr 12, 1861 – Apr 9, 1865</td>
            <td style="border: 2px solid cyan" width=300 class="center">Civil War</td>
        </tr>
        <tr>
            <td id="row3a" style="border: 2px solid cyan" width=300 class="center"></td>
            <td id="row3b" style="border: 2px solid cyan" width=300 class="center"></td>
        </tr>
    </table>

    {% endblock %}

    <div>
        <input type="text" id="event" placeholder="Add a new event">
    </div>
    <div>
        <input type="text" id="date" placeholder="Add a new event">
    </div>
    <div class="align-center" style="padding-left: 10px">
        <button id="submit_text" onclick="newEvent();">Submit</button>
    </div>
    <div class="row align-center p-3">
        <div class="container text-white" id="output"> </div>
    </div>
    </body>

    <script>
        function newEvent() {
            let input=document.getElementById('event').value;
            let input2=document.getElementById('date').value;

            if (document.getElementById('event').value.toLowerCase() == document.getElementById('event').value.toLowerCase()) {
                document.getElementById('row3a').insertAdjacentText('beforeend', input2);
                document.getElementById('row3b').insertAdjacentText('beforeend', input);
        }
    </script>

{% endblock %}
