{% extends "layouts/base.html" %}

{% block body %}


<style>

  .centerb {
    width: 1200px;
    height: 700px;
    padding: 10px;
    margin: 60px auto;
  }

  table, th, td {
    border:1px solid #4709ff;
  }


  <style>
   .p1 {
     font-family: "Times New Roman", Times, serif;
   }

  .p2 {
    font-family: Arial, Helvetica, sans-serif;
  }

  .p3 {
    font-family: "Monaco", "Monaco", fantasy;
  }

  body {
    background-color: #a4d2ee;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button-22 {
    align-items: center;
    appearance: button;
    background-color: #0276FF;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    touch-action: manipulation;
  }

  .button-22:active {
    background-color: #006AE8;
  }

  .button-22:hover {
    background-color: #1C84FF;
  }

</style>



<center>
  <body>
  <div class="centerb">
    <center>

      <div class="center">
        <h1 class="w3-text-black" style="text-shadow:1px 1px 0 #444">
          <b>Quiz Home</b></h1>
      </div>
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      <p class = "p3" style="text-align:center;">Welcome to the quiz homepage!</p>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <br>

      <div>
        <a class="button" href="http://127.0.0.1:5000/quiz">Chapters 1-10 Quiz</a>
      <a class="button" href="http://127.0.0.1:5000/quiz2">Chapter 11-20 Quiz</a>
        <a class="button" href="http://127.0.0.1:5000/quiz3">Chapter 21-30 Quiz</a>
      </div>

  </body>


  {% endblock %}

  {% block background %}
  {% endblock %}

</center>


