
{% block body %}



<style>
    *, *::before, *::after {
        box-sizing: border-box;
        font-family: ".AppleSystemUIFont";
    }

    :root {
        --hue-neutral: 200;
        --hue-wrong: 0;
        --hue-correct: 145;
    }

    body {
        --hue: var(--hue-neutral);
        padding: 0;
        margin: 0;
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #7fdbfc;
        font-family: "Comic Sans MS";
    }

    body.correct {
        --hue: var(--hue-correct);
    }

    body.wrong {
        --hue: var(--hue-wrong);
    }

    .container {
        width: 800px;
        max-width: 80%;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        font-family: .AppleSystemUIFont;
    }

    .btn-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        margin: 20px 0;
        font-family: .AppleSystemUIFont;
    }

    .btn {
        --hue: var(--hue-neutral);
        border: 1px solid hsl(var(--hue), 100%, 30%);
        background-color: hsl(var(--hue), 100%, 50%);
        border-radius: 5px;
        padding: 5px 10px;
        color: white;
        outline: none;
        font-family: .AppleSystemUIFont;
    }

    .btn:hover {
        border-color: black;
    }

    .btn.correct {
        --hue: var(--hue-correct);
        color: black;
    }

    .btn.wrong {
        --hue: var(--hue-wrong);
    }

    .start-btn, .next-btn {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px;
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hide {
        display: none;
    }

</style>


<center>

    <h1 style="text-align:center" style ="background-color: white";>APUSH Chapters 21 - 30 Quiz</h1>
    &nbsp;&nbsp;

    &nbsp;&nbsp;
    <br>


    <body>
    <div class="container">
        <div id="question-container" class="hide">
            <div id="question">Question</div>
            <div id="answer-buttons" class="btn-grid">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
                <button class="btn">Answer 3</button>
                <button class="btn">Answer 4</button>
            </div>
        </div>
        <div class="controls">
            <button id="start-btn" class="start-btn btn">Start</button>
            <button id="next-btn" class="next-btn btn hide">Next</button>
        </div>
    </div>
    </body>
    </html>
    <br>
    <br>
    <a class="button" href="http://127.0.0.1:5000/quizhome">Click To Return to the Quiz Homepage</a>

    <script>
        const startButton = document.getElementById('start-btn')
        const nextButton = document.getElementById('next-btn')
        const questionContainerElement = document.getElementById('question-container')
        const questionElement = document.getElementById('question')
        const answerButtonsElement = document.getElementById('answer-buttons')

        let shuffledQuestions, currentQuestionIndex

        startButton.addEventListener('click', startGame)
        nextButton.addEventListener('click', () => {
            currentQuestionIndex++
            setNextProblem()
        })

        function startGame() {
            startButton.classList.add('hide')
            shuffledQuestions = questions.sort(() => Math.random() - .5)
            currentQuestionIndex = 0
            questionContainerElement.classList.remove('hide')
            setNextProblem()
        }

        function setNextProblem() {
            resetState()
            showQuestion(shuffledQuestions[currentQuestionIndex])
        }

        function showQuestion(question) {
            questionElement.innerText = question.question
            question.answers.forEach(answer => {
                const button = document.createElement('button')
                button.innerText = answer.text
                button.classList.add('btn')
                if (answer.correct) {
                    button.dataset.correct = answer.correct
                }
                button.addEventListener('click', selectAnswer)
                answerButtonsElement.appendChild(button)
            })
        }

        function resetState() {
            clearStatusClass(document.body)
            nextButton.classList.add('hide')
            while (answerButtonsElement.firstChild) {
                answerButtonsElement.removeChild(answerButtonsElement.firstChild)
            }
        }

        function selectAnswer(e) {
            const selectedButton = e.target
            const correct = selectedButton.dataset.correct
            setStatusClass(document.body, correct)
            Array.from(answerButtonsElement.children).forEach(button => {
                setStatusClass(button, button.dataset.correct)
            })
            if (shuffledQuestions.length > currentQuestionIndex + 1) {
                nextButton.classList.remove('hide')
            } else {
                startButton.innerText = 'Restart'
                startButton.classList.remove('hide')
            }
        }

        function setStatusClass(element, correct) {
            clearStatusClass(element)
            if (correct) {
                element.classList.add('correct')
            } else {
                element.classList.add('wrong')
            }
        }

        function clearStatusClass(element) {
            element.classList.remove('correct')
            element.classList.remove('wrong')
        }

        const questions = [
            {
                question: 'Who was Louis Sullivan?',
                answers: [
                    { text: 'Chicago architect; contributed to development of skyscrapers', correct: true },
                    { text: 'labor boss; met immigrants and secured jobs wherever there was a demand for industrial labor;', correct: false },
                    { text: 'urban revivalist; once a shoe salesman; spoke to audiences about forgiveness', correct: false },
                    { text: 'English naturalist who wrote Origin of Species; thought higher forms of life evolved from lower forms through mutation and adaptation', correct: false },
                ]
            },
            {
                question: 'What were Birds of Passage?',
                answers: [
                    { text: 'white people; more northern Europeans', correct: false },
                    { text: 'people who were against foreigners', correct: false },
                    { text: 'helped immigrants get accustomed to life in a new place; center of womens activism and social reform (ex. lobbied for anti-sweat shop law)', correct: false },
                    { text: 'those who worked in America for a number of years and after earning a decent amount of money, they would travel back to their home country', correct: true }
                ]
            },
            {
                question: 'What is the Statue of Liberty?',
                answers: [
                    { text: 'helped immigrants get accustomed to life in a new place; center of women\'s activism and social reform (ex. lobbied for anti-sweat shop law)', correct: false },
                    { text: 'run by Jane Addams; American settlement home; located in a poor area but gave help to the poor in English; child-care, adjustment to big-city life, cultural activities', correct: false },
                    { text: 'built in 1886; located in New York harbor as a gift from France', correct: true },
                    { text: 'white people; more northern Europeans', correct: false }
                ]
            },
            {
                question: 'What is the origin of species?',
                answers: [
                    { text: 'a concept that came from Germany; younger children went to schools earlier in life', correct: false },
                    { text: 'run by Booker T. Washington; taught blacks useful trades', correct: false },
                    { text: 'A book written by Charles Darwin that talked about natural selection and explained his theories', correct: true },
                    { text: 'Young Men\'s and Women\'s Christian Associations; established before Civil war and combined physical and other kinds of education with religious teachings.', correct: false },

                ]
            }
        ]
    </script>

    {% endblock %}

    {% block background %}
    {% endblock %}

